.about {
  background-color: #f2fefb;
  padding: 100px 50px 220px;
  &__content {
    display: flex;
  }
  &__item {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 45px;
    padding-bottom: 20px;
  }
  &__left {
    border-right: 1px solid $gray-3;
    padding-right: 50px;
  }
  &__right {
    padding-left: 80px;
  }
  &__img {
    flex: 2;
  }
  &__text {
    flex: 4;
  }
  &__title {
    font-size: 36px;
    letter-spacing: -0.42px;
    color: $black;
    font-family: "Roboto";
    margin-bottom: 10px;
  }
  &__desc {
    margin-bottom: 25px;
  }
}
