.banner{
    &__content{
        text-align: center;
    }
    &__heading{
        margin-top: 130px;
        font-family: "Roboto";
        @include fontSize(64px, $black, 700);
        letter-spacing: -.64px;
    }
    &__desc{
        width: 680px;
    }
}