.events {
  background-image: url("../../images/news-bg.png");
  background-position: center center;
  background-size: cover;
  padding-bottom: 100px;
  &__header {
    display: flex;
    justify-content: center;
  }
  &__top {
    margin-bottom: 10px;
  }
  &__desc {
    margin: 20px 0;
  }
  &__sub {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__big {
    flex: 7;
    &--content {
      display: flex;
      gap: 30px;
    }
  }
  &__small {
    flex: 3;
  }
  &__img {
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  &__item {
    border: 1px dashed $gray-4;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: $white;
    img {
      height: 100%;
      object-fit: cover;
      transition: all 0.5s;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__content {
    padding: 40px;
  }
  &__filter {
    display: flex;
    &:not(:last-child) {
      border-bottom: 1px dashed $gray-4;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
  &__left {
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px dashed $gray-4;
  }
  &__text {
    position: relative;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    padding-left: 15px;
    margin-right: 15px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      background-color: #11b582;
      border-radius: 50%;
      transition: all 0.25s;
    }
  }
  &__title {
    color: $black;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.24px;
    transition: all 0.25s;
  }
  &__mon {
    font-size: 18px;
    color: $gray;
    font-weight: normal;
  }
  &__day {
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
    color: $black;
  }
  &__meta {
    position: relative;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      background-color: #11b582;
      border-radius: 50%;
      transition: all 0.25s;
    }
  }
  &__heading {
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.24px;
    color: $black;
    transition: all 0.25s;
  }
  &__more {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: $black;
    transition: all 0.25s;
    i {
      margin-right: 5px;
    }
    &:hover {
      transform: translateX(5px);
    }
  }
  @media screen and (max-width: 1024px) {
    &__sub {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
