.feature{
    &__search{
        display: flex;
        justify-content: center;
    }
    &__menu{
        list-style-type: none;
        background-color: white;
        border-radius: 15px;
    }
    &__item{
        display: inline-block;
        padding: 18px 30px;
    }
}