.feedback{
    margin-top: 90px;
    &__top{
        display: flex;
        justify-content: center;
        gap: 20px;
        i{
            font-size: 22px;
            color: $primary;
        }
    }
    &__bottom{
        display: flex;
        align-items: center;
        p{
            margin: 0;
        }
    }
    &__title{
        font-size: 18px;
        color: $black;
    }
    &__text{
        font-size: 20px;
        line-height: 32px;
        color: $gray;
    }
    &__author{
        width: 70px !important;
        height: 70px;
        border-radius: 50%;
    }
}