.header{
    background-color: $secondary;
    min-height: 95px;
    display: flex;
    align-items: center;
    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;
    }
    &__left{    
        display: flex;
        align-items: center;
    }
    &__categories{
        margin-left: 110px;
        margin-right: 15px;
    }
    &__menu{
        margin: 0;
    }
    &__item{
        list-style: none;
        display: inline-block;
        margin-right: 35px;
        &.drop{
            margin-right: 25px;
            .header__link{
            left: 45%;

            }
        }
    }
    &__link{
        font-family: "Roboto";
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        min-height: 95px;
        position: relative;
        i{
            font-size: 11px;
            margin-left: 3px;
        }
        &::before{
            content: "";
            position: absolute;
            left: 50%;
            bottom: 25px;
            transform: translateX(-50%);
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $primary;
        }
    }
    &__logo{
        width: 170px;
    }
    &__icon{
        width: 35px;
        height: 35px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $gray-2;
        border-radius: 50%;
        font-size: 14px;
        margin-right: 15px;
        &.cart{
            position: relative;
            font-size: 12px;
        }
        sup{
            position: absolute;
            top: -5px; 
            right: -3px;
            font-size: 8px;
            padding: 8px 5px;
            background-color: $primary;
            border-radius: 50%;
        }
    }
    &__toggle{
        margin-right: 10px;
        margin-left: 3px;
        font-size: 20px;
    }
}
