.header{
    display: flex;
    justify-content: space-between;
    &__left{
        display: flex;
    }
    &__item{
        list-style: none;
        display: inline-block;
    }
    &__link{
        text-decoration: none;
    }
}
