.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary;
    padding: $pd-1;
    color: $white;
    &__left{    
        display: flex;
        align-items: center;
    }
    &__categories{
        margin-left: $mg-1;
        margin-right: $mg-2;
    }
    &__menu{
        margin: 0;
    }
    &__item{
        list-style: none;
        display: inline-block;
    }
    &__link{
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
    }
    &__logo{
        width: 170px;
    }
}
