.partners {
  &__header {
    display: flex;
    justify-content: center;
    .intro__content {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
    .intro__item:first-child {
      padding: 0;
      border: none;
    }
    .intro__item:last-child p {
      max-width: 545px;
    }
  }
  &__item {
    img {
      height: 100px;
    }
    &:nth-child(1) {
      img {
        width: 93px;
      }
    }
    &:nth-child(2) {
      img {
        width: 97px;
      }
    }
    &:nth-child(3) {
      img {
        width: 87px;
      }
    }
    &:nth-child(4) {
      img {
        width: 146px;
      }
    }
    &:nth-child(5) {
      img {
        width: 110px;
      }
    }
    &:nth-child(4) {
      img {
        width: 146px;
      }
    }
  }
}
