.partners {
  &__header {
    display: flex;
    justify-content: center;
    .intro__content {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
    .intro__item:first-child {
      padding: 0;
      border: none;
    }
    .intro__item:last-child p {
      max-width: 545px;
    }
  }
  &__item {
    img {
      height: 100px;
    }
    .num--1 {
      img {
        width: 93px;
      }
    }
    .num--2 {
      img {
        width: 97px;
      }
    }
    .num--3 {
      img {
        width: 87px;
      }
    }
    .num--4 {
      img {
        width: 146px;
      }
    }
    .num--5 {
      img {
        width: 110px;
      }
    }
  }
}
