.partners{
    &__header{
        display: flex;
        justify-content: center;
        .intro__content{
            flex-direction: column;
            text-align: center;
            gap: 10px;
        }
        .intro__item:first-child{
            padding: 0;
            border: none;
        }
        .intro__item:last-child p {
            max-width: 545px;
        }
    }
    &__item{
        img{
            height: 100px;
        }
        &:nth-child(1){
            width: 87px;
        }
    }
}