.partners{
    &__header{
        display: flex;
        justify-content: center;
        .intro__content{
            flex-direction: column;
        }
        .intro__item:first-child{
            padding: 0;
            border: none;
        }
    }
}