.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 65px;
  &__content {
    display: flex;
    align-items: center;
  }
  &__button {
    font-weight: 500;
    @include button(33px, 10px, 14px, $white, $primary, 40px);
    transition: all 0.5s;
    text-transform: uppercase;
    margin-right: 50px;
    border: 2px solid $primary;
    i {
      margin-right: 5px;
    }
    &:hover {
      background-color: $white;
    }
  }
  &__title {
    color: #777;
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 15px;
  }
  &__topic {
    font-size: 36px;
    color: $black;
    font-weight: 500;
    letter-spacing: -0.42px;
  }
  &__item {
    &:first-child {
      padding-right: 40px;
      border-right: 1px solid $gray-3;
    }
    &:last-child {
      padding-left: 40px;
      p {
        max-width: 340px;
        color: $gray;
        margin: 0;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__topic {
      font-size: 26px;
    }
    &__item {
      &:first-child,
      &:last-child {
        flex: 1;
      }
    }
    &__button {
      margin-right: 0;
      font-size: 12px;
    }
  }
  @media screen and (max-width: 414px) {
    flex-direction: column;
    text-align: center;
    &__content {
      flex-direction: column;
    }
    &__item {
      &:first-child {
        padding: 0;
        border-right: 0;
      }
      &:last-child {
        padding: 0;
      }
    }
    &__button {
      margin: 40px 0 0;
    }
    &__topic {
      margin-bottom: 30px;
      font-size: 35px;
    }
  }
}
