.owl-theme .owl-dots .owl-dot.active span{
    width: 10px;
    height: 10px;
    border: 2px solid $primary;
    background-color: transparent;
}
.owl-theme .owl-dots .owl-dot span{
    width: 7px;
    height: 7px;
}
.owl-carousel.owl-drag .owl-item{
    opacity: 0.5;
}
.owl-carousel.owl-drag .owl-item.center{
    opacity: 1;
}