.owl-theme .owl-dots .owl-dot.active span{
    width: 14px;
    height: 14px;
    border: 1px solid $primary;
    background-color: transparent;
}
.owl-theme .owl-dots .owl-dot span{
    width: 8px;
    height: 8px;
}
.owl-carousel.owl-drag .owl-item{
    opacity: 0.5;
}
.owl-carousel.owl-drag .owl-item.center{
    opacity: 1;
}