html {
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
    line-height: 26px;
    font-weight: 400;
    color: $gray;
}
*,*:before,*:after {
box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
a,a:hover{
text-decoration: none;
}

img {
display: block;
max-width: 100%;
}