$primary: #11B582;
$secondary: #283C66;
$white: #FFFFFF;
$black: #333333;
$black-1: #222;
$gray: #555555;
$gray-1: #A5B7D9;
$gray-2: #4E5C77;
$gray-3: #D4D8E0;
$gray-4: #E8E8E8;
$gray-5: #999999;
$yellow: #FF912D;
$blue-1: #283C66;
$blue-2: #202F51;

$bg-color-1: transparent;
