@mixin button($px, $py, $fz, $color, $bg, $bdr){
    padding: $py $px;
    font-size: $fz;
    color: $color;
    background-color: $bg;
    border-radius: $bdr;
}
@mixin background-color($bg) {
    background-color: $bg;
}