$primary: #11B582;
$secondary: #283C66;
$white: #FFFFFF;
$black: #333333;
$gray: #555555;
$gray-1: #A5B7D9;
$yellow: #FF912D;
$blue: #283C66;

$fz-1: 12px;
$fz-2: 14px;
$fz-3: 16px;
$fz-4: 18px;
$fz-5: 22px;
$fz-6: 36px;
$fz-7: 64px;

$pd-1: 30px;
$pd-2: 20px;
$pd-3: 15px;